<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/*******.js" crossorigin="anonymous"></script>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand p-3" href="/"><span>Bookers</span></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#havbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse collapse show" id="navbarNavDropdown" style>
            <ul class="navbar-nav ml-auto">
              <li class="nav-link text-light">
                <i class="fa fa-home fa-w-18"></i>
                <%= link_to "HOME", root_path, class: 'text-light' %>
              </li>
              <% if user_signed_in? %>
              <li class="nav-link text-light">
                <i class="fa fa-users fa-w-20"></i>
                <%= link_to "Users", users_path, class: 'text-light' %>
              </li>
              <li class="nav-link text-light">
                <i class="fa fa-book-open fa-w-18"></i>
                <%= link_to "Books", books_path, class: 'text-light' %>
              </li>
              <li class="nav-link text-light">
                <i class="fa fa-sign-out-alt fa-w-16"></i>
                <%= link_to "Log out", destroy_user_session_path, class: 'text-light' %>
              </li>
              <% else %>
              <li class="nav-link text-light">
                <i class="fa fa-link fa-w-16"></i>
                <%= link_to "About", home_about_path, class: 'text-light' %>
              </li>
              <li class="nav-link text-light">
                <i class="fa fa-user-plus fa-w-20"></i>
                <%= link_to "Sign up", new_user_registration_path, class: 'text-light' %>
              </li>
              <li class="nav-link text-light">
                <i class="fa fa-sign-in-alt fa-w-16"></i>
                <%= link_to "Log in", new_user_session_path, class: 'text-light' %>
              </li>
              <% end %>

            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
    </main>
  </body>

  <%= yield %>
  <footer>
    <div class="container mt-5">
      <div class="row">
        <div class="mx-auto">
          <p>CopyRight Infratop.inc</p>
        </div>
      </div>
    </div>
  </footer>

</html>
